<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput [(ngModel)]="filtro" (keyup)="applyFilter()" placeholder="Nombre o Telefono" #input>
</mat-form-field>


<table mat-table [dataSource]="gobiernoFiltrados$" class="mat-elevation-z8">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="afirmacion">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let persona">
        <button mat-icon-button (click)="actualizarAfirmacion(persona)">
          <mat-icon>call</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let persona">
        <button mat-icon-button (click)="actualizarRol(persona)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['nombre','afirmacion','rol']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['nombre','afirmacion','rol']"></tr>
  </table>