<table>
  <thead>
    <tr>
      <th class="name-column">Nombre</th>
      <th class="switch-column">Activo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of usuariosNuevos" [ngClass]="{ 'inactive': !item.activo }">
      <td class="name-column" (click)="showObject(item)">
        <div class="overflow-ellipsis">{{ item.displayName }}</div>
      </td>
      <td class="switch-column">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="item.activo" (click)="toggleSwitch(item)">
          <span class="slider"></span>
        </label>
      </td>
    </tr>
  </tbody>
</table>
