<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header class="header">
		
		<mat-toolbar class="mat-elevation-z8">
			<button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
				<mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
				<mat-icon *ngIf="sidenav.opened"> close </mat-icon>
			</button>
			RJM - ReyJesusMedellin
		</mat-toolbar>

		<mat-sidenav-container>
			<mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
				<img class="avatar mat-elevation-z8" [src]="userImageURL" alt="User Profile Image" />

				<h4 class="name">{{user?.displayName}}</h4>
				<p class="designation">{{user?.uid}}</p>

				<mat-divider></mat-divider>

				<button mat-button class="menu-button" [routerLink]="['/app-home/app-inicio']">
					<mat-icon>home</mat-icon>
					<span>Home</span>
				</button>
				<button *ngIf="this.roleCheck('Afirmador')" mat-button class="menu-button" [routerLink]="['/app-home/app-afirmacion', user]">
					<mat-icon>call</mat-icon>
					<span>Afirmacion</span>
				</button>
				<button *ngIf="this.roleCheck('Miembro')" mat-button class="menu-button" [routerLink]="['/app-home/registro-miembro']">
					<mat-icon>add_circle</mat-icon>
					<span>Nuevo Miembro</span>
				</button>
				<button *ngIf="this.roleCheck('LiderDpto')" mat-button class="menu-button" [routerLink]="['/app-home/app-membrecia']">
					<mat-icon>supervisor_account</mat-icon>
					<span>Membrecia</span>
				</button>
				
				<mat-divider></mat-divider>

				<button *ngIf="this.roleCheck('Admin')" mat-button class="menu-button" [routerLink]="['/app-home/app-gobierno']">
					<mat-icon>card_membership</mat-icon>
					<span>Gobierno</span>
				</button>

				<mat-divider></mat-divider>

				<button mat-button class="menu-button" (click)="fireAuth.AuthLogOut()">
					<mat-icon>exit_to_app</mat-icon>
					<span>LogOut</span>
				</button>
			</mat-sidenav>
			<mat-sidenav-content>
				<div class="container">
					<router-outlet></router-outlet>
				</div>
			</mat-sidenav-content>
		</mat-sidenav-container>
	</header>



	<!--
	<section>
		<div class="container">
			<app-afirmation-form></app-afirmation-form>
		</div>
	</section>
	-->


	<footer>
		<div class="container">
			<app-google-logout></app-google-logout>
			<p>© 2023 Legacy Software</p>
		</div>
	</footer>

	<script src="https://kit.fontawesome.com/1234567890.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.icon').click(function () {
				$('nav ul.nav-mobile').toggleClass('active');
			});
		});
	</script>
</body>