<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header class="header">

		<mat-toolbar>
			<button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
				<mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
				<mat-icon *ngIf="sidenav.opened"> close </mat-icon>
			</button>
			<div class="toolbar-text">
				{{title}}
			</div>
		</mat-toolbar>

		<mat-sidenav-container>
			<mat-sidenav #sidenav="matSidenav">
				<ng-container *ngIf="userAuth$">
					<img class="avatar mat-elevation-z8" [src]="userAuth$.photoURL?.toString()"
						alt="User Profile Image" />
				</ng-container>

				<ng-container *ngIf="userAuth$">
					<h4 class="name">{{userDb$.displayName}}</h4>
				</ng-container>
				<ng-container *ngIf="userAuth$">
					<p class="designation">{{userAuth$.uid}}</p>
				</ng-container>

				<ng-container *ngIf="this.isNuevo">

					<button mat-button class="menu-button" [routerLink]="['/app-home/app-welcome-new-user']"
						(click)="closeNav()">
						<mat-icon>home</mat-icon>
						<span>NewUser</span>
					</button>

				</ng-container>


				<ng-container *ngIf="this.isMiembro">

					<button mat-button class="menu-button" [routerLink]="['/app-home/app-inicio']" (click)="closeNav()">
						<mat-icon>home</mat-icon>
						<span>Home</span>
					</button>

					<button mat-button class="menu-button" [routerLink]="['/app-home/registro-miembro']"
						(click)="closeNav()">
						<mat-icon>add_circle</mat-icon>
						<span>Nuevo miembro</span>
					</button>
					<button mat-button class="menu-button" [routerLink]="['/app-home/app-afirmacion']"
						(click)="closeNav()">
						<mat-icon>call</mat-icon>
						<span>Afirmación</span>
					</button>
					<button mat-button class="menu-button" (click)="closeNav()">
						<mat-icon>hearing</mat-icon>
						<span>Intercesión</span>
					</button>
					<button mat-button class="menu-button" (click)="closeNav()">
						<mat-icon>alarm</mat-icon>
						<span>Evangelismo</span>
					</button>
				</ng-container>

				<ng-container *ngIf="this.isLiderDpto">
					<mat-divider></mat-divider>
					<button mat-button class="menu-button"
						[routerLink]="['/app-new-content/app-membrecia']" (click)="closeNav()">
						<mat-icon>supervisor_account</mat-icon>
						<span>Lideres</span>
					</button>
					<mat-divider></mat-divider>
				</ng-container>

				<ng-container *ngIf="this.isAdmin">

					<button mat-button class="menu-button" [routerLink]="['/app-admin-panel/app-gobierno']"
						(click)="closeNav()">
						<mat-icon>verified_user</mat-icon>
						<span>Administración</span>
					</button>

				</ng-container>

				<ng-container>
					<mat-divider></mat-divider>
					<button mat-button class="menu-button" (click)="fireAuth.AuthLogOut()">

						<mat-icon>exit_to_app</mat-icon>
						<span>LogOut</span>
					</button>
				</ng-container>

			</mat-sidenav>
			<mat-sidenav-content>
				<div class="container">
					<router-outlet></router-outlet>
				</div>
			</mat-sidenav-content>
		</mat-sidenav-container>
	</header>

	<script src="https://kit.fontawesome.com/1234567890.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.icon').click(function () {
				$('nav ul.nav-mobile').toggleClass('active');
			});
		});
	</script>
</body>