<header>
    <h1>¿Qué hay de nuevo?</h1>
</header>
<main>
    <section>
        <h2>Julio 07 - 2023</h2>
        <h3>Esta versión tiene mejoras visuales y un nuevo sistema de roles, el cual constará de diferentes vistas donde
            habrá una aprobación previa de miembros y reportes por el líder encargado.</h3>
        <ul>
            <li>Cambio de inicio de sesión</li>
            <li>Se agrega OnBoarding inicial apra nuevos miembros</li>
            <li>Mejora de rendimiento y Carga</li>
            <li>Aprobaciones para los diferentes reportes y nuevos registros</li>
            <li>Mejora visual de la interfaz</li>
            <li>Cambio del formulario de registro para nuevos miembros</li>
            <li>Lider panel</li>
            <li>Admin panel</li>
        </ul>
    </section>
</main>
<footer>
    <p>&copy; 2023 Kingdom. Todos los derechos reservados.</p>
</footer>

