<p>afirmation-form works!</p>


<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <label for="fecha">Fecha:</label>
  <input matInput [matDatepicker]="picker" formControlName="fecha" readonly placeholder="Seleccionar fecha." id="fecha">
  <mat-hint> MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

  <label for="nombreAfirmador">Nombre Afirmador:</label>
  <input type="text" formControlName="nombreAfirmador" readonly id="afirmador"/>

  <label for="personaAfirmada">Persona Afirmada:</label>
  <select formControlName="personaAfirmada" id="personaAfirmada" [(ngModel)]="selectedOption" (ngModelChange)="onChangeOption()">
    <option *ngFor="let persona of personas" [value]="persona.nombre">{{ persona.nombre }}</option>
  </select>

  <label>Telefono:</label>
  <input type="text" readonly id="telPersonaAfirmada"/>

  <label for="descripcion">Descripción:</label>
  <textarea formControlName="descripcion" id="descripcion"></textarea>

  <button type="submit" [disabled]="myForm.invalid">Enviar</button>
</form>